<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Job Details</h1>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 pb-5">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="card-blockquote">
                    <img src="{{job$.image}}" />
                    </blockquote>
                </div>
            </div>
        </div>
   </div>
    <div class="row space-top">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <p>Company: {{job$.company}}</p>
            <p>Position: {{job$.position}}</p>
            <p>Description: {{job$.description}}</p>
            <p>Salary: {{job$.salary}} $</p>
            <p *ngIf="job$.telephone">Telephone: {{job$.telephone}}</p>
            <p *ngIf="job$.email">Email: {{job$.email}}</p>
        </div>
    </div>
    <div class="pb-5 pt-5">
        <input  class="btn btn-primary"  type="button" value="Back" onclick="window.history.back()">
    </div>

</div>
